.grid {
  display: grid;
  gap: 24px;
}

.col-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 20px;
}

.col-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.timeline-col {
  padding: 20px;
  grid-template-columns: 1fr 2fr;
}
