.header {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-foreground);
  font-weight: 600;
  font-size: 1.5rem;
}

.frog {
  width: 5rem;
  height: auto;
}
