.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-trail {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--neutral-foreground);
  color: var(--neutral);
  padding: 8px 16px;
  border-radius: var(--radius-selector);
}

.trail {
  color: var(--neutral);
  opacity: 0.65;
}

.trail:hover {
  color: var(--neutral);
  opacity: 1;
}

.trail.active {
  opacity: 1;
  font-weight: 700;
}

.trail.active:hover {
  cursor: auto;
}
